* {
    font-family: Poppins;
}

body {
    background: black;
    height: 100%;
}

.cstm-btn {
    width: 100px;
    border-radius: 30px;
    background: #8FE273;
    transition: .3s;
    font-weight: 600;
    border: 2px solid #8FE273;
    position: relative;
}

.cstm-btn:nth-child(2) {
    background: #62CE3E;
    border: 2px solid #62CE3E;
}

.cstm-btn:hover {
    background: none;
    color: #8FE273;
    border: 2px solid #8FE273;
    transition: .3s ease-in-out;
}

.cstm-btn:nth-child(4) {
    background: none;
    color: #8FE273;
    border: 2px solid #8FE273;
    transition: .3s ease-in-out;
}

.h1,
.h2 {
    font-size: 55px;
    font-weight: 600;
}

.h1 {
    color: white;
}

.h2 {
    color: #62CE3E;
}

.h3 {
    font-size: 35px;
    font-weight: 300;
}

.h4 {
    font-size: 20px;
    font-weight: 300;
}

.subheader-img-left {
    left: 0;
    transform: rotate(50deg);
}

.subheader-img-right {
    right: 0;
    transform: rotate(-20deg);
}

.subheader-img-left,
.subheader-img-right {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    width: 30%;
    opacity: 0.2;
    filter: blur(5px);
    bottom: 30px;
    animation: updown 3s ease infinite;
}

@keyframes updown {
    50% {
        bottom: 10px;
        scale: 1.09
    }
}


.ftr {
    font-size: 80px;
    color: #62CE3E;
    font-weight: 600;
}

/* Flexbox styling for feature group */
.feature-group {
    margin-bottom: 80px;
}

/* Numbers container */
.numbers {
    position: relative;
    width: 50px;
    /* Width for positioning */
    height: 60px;
    /* Height for positioning */
}

.number-0,
.number-1 {
    font-size: 90px;
}

/* First number */
.numbers .number-0 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 800;
    opacity: 0;
    color: transparent;
    z-index: 1;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #62CE3E;
}

/* Second number (overlaps the first) */
.numbers .number-1 {
    position: absolute;
    top: 30px;
    left: 45px;
    font-weight: 700;
    opacity: 0;
    /* For animation */
    z-index: 2;
    /* Higher z-index for overlap */
    color: #62CE3E;
    /* Contrasting color */
}

/* Feature text styling */
.feature-text {
    position: relative;
    font-size: 1.5rem;
    top: 70px;
    opacity: 0;
    font-style: italic;
    /* For animation */
    text-align: left;
    color: white;
    padding-left: 80px;
    /* Align text to the left of the numbers */
}

.features-section {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cc {
    width: 18rem;
    height: auto;

    /* For the animated border */
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            rgb(0, 0, 0),
            rgb(0, 0, 0) 5%,
            rgb(0, 0, 0) 60%,
            rgb(0, 0, 0) 95%);
    --gradient-border: conic-gradient(from var(--border-angle),
            transparent 25%,
            #47f4f4,
            #62CE3E 99%,
            transparent);

    border: solid 3px transparent;
    border-radius: 26px;
    padding: 1rem;
    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    animation: bg-spin 3s linear infinite;
    background-position: center center;
    transition: transform 1s ease-in-out;
    /* Smooth scaling effect */
}

.cc:hover {
    animation-play-state: paused;
    /* Pause the border animation on hover */
    scale: 1.05;
    /* Scale the card slightly on hover */
    border: 3px solid #62CE3E;
    box-shadow: 0px 35px 32px -30px #62CE3E;
}

.card-text {
    color: #636363;
}

.crs-btn {
    padding: 5px 20px;
    border-radius: 60px;
}

.btn-primary {
    background: #62CE3E;
    color: black;
    font-weight: 500;
    border: 2px solid transparent;
    transition: .3s;
}

.btn-primary:hover {
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 2px solid #62CE3E;
}

.ex {
    scale: 1.2;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 2px solid #62CE3E;
}

.ex:hover {
    background: #62CE3E;
    color: black;
    font-weight: 500;
    border: 2px solid transparent;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

.cc img {
    height: 150px;
    border-radius: 10px;
}



/* Hamburger button spans */
.navbar-toggler {
    background: none;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #62CE3E;
    transition:.3s
}

.navbar-toggler span {
    display: block;
    width: 24px;
    height: 2.5px;
    /* Adjust the height for better visibility */
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 10px;
}

/* Hamburger to cross transition */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    /* Adjusted to place properly when toggled */
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
    /* Hide the middle span */
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 11px;
    /* Adjusted to place properly when toggled */
}

/*Footer*/
.h5 {
    color: #62CE3E;
}

.ftr-lnks {
    color: #9a9a9a;
    transition: .3s;
}

.ftr-lnks {
    color: #9a9a9a;
    transition: .3s;
}

.ftr-lnks:hover {
    color: #62CE3E;
}

.social:hover {
    color: #62CE3E;
}


.ftr-logo {
    position: relative;
    bottom: 20px;
    right: 50px;
}

.footer {
    border-top: 2px solid rgb(98, 206, 62);
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

/* Shrink logo on scroll */
.sticky-navbar.scrolled .navbar-brand img {
    width: 80px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.sticky-navbar.scrolled {
    /* Adjust padding on scroll */
    box-shadow: 0px 5px 5px rgba(98, 206, 62, .3);
    padding-top: 20px;
}


.navbar-brand img {
    position: relative;
    left: 50px;
}


/* Example to adjust spacing or layout for smaller screens */
@media (max-width: 767px) {
    .navbar-brand img {
        width: 80px;
        height: auto;
    }

    .navbar .btn {
        width: 100px;
        font-size: 14px;
    }

    .navbar {
        max-width: 100%;
    }

    .cstnav {
        flex-direction: column;
        padding-left: 60px;
    }

    .cstm-btn {
        margin: 5px 0;
        font-size: 14px;
        width: 100px;
        /* Add some spacing between buttons */
    }

    .navbar-toggler {
        box-shadow: 0px 0px 5px 5px #62CE3E
    }

    .sticky-navbar.scrolled .navbar-brand img {
        width: 80px;
        height: auto;
        transition: all 0.3s ease-in-out;
    }

    .h1,
    .h2 {
        font-size: 20px;
    }

    .h3 {
        font-size: 15px;
    }

    .h4 {
        font-size: 9px;
    }

    .ftr {
        font-size: 40px;
    }

    .number-0,
    .number-1 {
        font-size: 60px;
    }

    .numbers {
        left: 20px !important;
    }

    .number-1 {
        left: 26px !important;
        top: 20px !important;
    }

    .feature-text {
        font-size: 15px;
        right: 10px;
        top: 20px;
    }

    .feature-group {
        flex-direction: row !important;
        /* Switch to horizontal direction */
        justify-content: center;
        align-items: flex-start;
    }

    .numbers {
        flex-direction: row !important;
        /* Ensure numbers align horizontally */
        margin-right: 10px;
        /* Optional spacing */
    }

    .ftrs {
        flex-direction: column;
    }

}

.container-fluid {
    flex-wrap: wrap;
    height: 450px;
    position: relative;
    overflow: hidden;
}